<html>
<style>
</style>
 <head>	 
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ulogujte se - ventilatori</title>
 </head>
  <body background="https://images.duckduckgo.com/iu/?u=http%3A%2F%2Fpozadine.blogujem.com%2Ffiles%2F2010%2F04%2F3d_096_pozadine.net_.jpg&f=1" style="background-repeat:no-repeat;background-size:cover;">
<center>
<div style="margin-top:25%;padding:5px;background-color:rgba(0,255,255,0.5);width:230px;">
		<h1 style="font-size:50px;"><b>LOGIN:</b></h1>
		<form action="/toAdmin" method="POST">
			<input style="font-size:15px;" type="text" name="ime" value="" placeholder="E-mail@gmail.com"><br><br>
			<input style="font-size:20px;" type="submit" class="button button-green" value="Uloguj se">
		</form>
	
</div>
</center>
  </body>
</html>
