<?xml version="1.0" encoding="UTF-8"?>
<xbel version="1.0"
      xmlns:bookmark="http://www.freedesktop.org/standards/desktop-bookmarks"
      xmlns:mime="http://www.freedesktop.org/standards/shared-mime-info"
>
  <bookmark href="file:///home/pi/Desktop" added="2017-11-06T11:26:21Z" modified="2017-11-06T11:26:21Z" visited="2017-11-06T11:26:22Z">
    <info>
      <metadata owner="http://freedesktop.org">
        <mime:mime-type type="inode/directory"/>
        <bookmark:applications>
          <bookmark:application name="xarchiver" exec="&apos;xarchiver %u&apos;" modified="2017-11-06T11:26:21Z" count="1"/>
        </bookmark:applications>
      </metadata>
    </info>
  </bookmark>
  <bookmark href="file:///home/pi/Desktop/Adafruit_INA219-master/Adafruit_INA219.cpp" added="2017-11-06T12:33:37Z" modified="2017-11-06T12:33:37Z" visited="2017-11-06T12:33:37Z">
    <info>
      <metadata owner="http://freedesktop.org">
        <mime:mime-type type="text/x-c++src"/>
        <bookmark:applications>
          <bookmark:application name="java" exec="&apos;java %u&apos;" modified="2017-11-06T12:33:37Z" count="1"/>
        </bookmark:applications>
      </metadata>
    </info>
  </bookmark>
  <bookmark href="file:///home/pi/Desktop/sketch_nov06a" added="